.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #eee;
    border-radius: 3px;
    padding: 10px;
}

.grid > img {
    justify-self: center;
    height: 50px;
    width: auto;
    border-radius: 100%;
}

.grid > div {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    gap: 5px;
}

.grid > div > h5 {
    margin: 0;
    font-size: 0.8em;
}

.grid > div > span {
    font-size: 0.8em;
    font-weight: 300;
}

